.bg-info {
    background-color: rgb(253, 210, 216) !important;
}

h1 {
    color: rgb(227, 71, 123) !important;
}

.btn-warning {
    color: #fff !important;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%) !important;
    ;
    border: none !important;
    border-radius: 8px !important;
    padding: 9px 25px !important;
}

.btn-primary {
    color: #fff !important;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%) !important;
    ;
    border: none !important;
    border-radius: 8px !important;
    padding: 9px 25px !important;
}

.categories img {
    width: 100px;
}